<div class="header">
    <button mat-button routerLink="/authors">Добавить автора</button>
    <button mat-button routerLink="/books">Добавить книгу</button>
</div>

<mat-card>
    <div class="flex_container">
        <mat-card-header>
            <mat-card-title>Добавление автора</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <button mat-raised-button (click)="openAddAuthorModal()">Добавить автора</button>
        </mat-card-content>
    </div>

</mat-card>

<ng-container *ngIf="dataSource.data && dataSource.data.length>0">
    <table [dataSource]="dataSource" mat-table>
        <ng-container matColumnDef="id">
            <th style="text-align: center" *matHeaderCellDef mat-header-cell>#</th>
            <td style="text-align: center" *matCellDef="let index = index;" mat-cell>
                {{index + 1}}
            </td>
        </ng-container>
        <ng-container matColumnDef="firstName">
            <th style="text-align: center" *matHeaderCellDef mat-header-cell>Имя</th>
            <td style="text-align: center" *matCellDef="let author" mat-cell

            >
                {{author.firstName}}

            </td>
        </ng-container>
        <ng-container matColumnDef="lastName">
            <th style="text-align: center" *matHeaderCellDef mat-header-cell>Фамилия</th>
            <td style="text-align: center" *matCellDef="let author" mat-cell

            >
                {{author.lastName}}
            </td>
        </ng-container>
        <ng-container matColumnDef="middleName">
            <th style="text-align: center" *matHeaderCellDef mat-header-cell>Отчество</th>
            <td style="text-align: center" *matCellDef="let author" mat-cell

            >
                {{author.middleName}}
            </td>
        </ng-container>
        <ng-container matColumnDef="dateOfBirth">
            <th style="text-align: center" *matHeaderCellDef mat-header-cell>Дата</th>
            <td style="text-align: center" *matCellDef="let author" mat-cell

            >
                {{author.dateOfBirth | date:"shortDate"}}
            </td>
        </ng-container>
        <tr *matHeaderRowDef="displayedColumns; " mat-header-row></tr>
        <tr *matRowDef="let row; columns: displayedColumns;" mat-row></tr>
    </table>
</ng-container>
